/* 可以先將所有物件加上邊框，來判斷範圍
    border會佔據距離，outline不會

*,
*:before,
*:after {
  outline: 1px solid red;
}
  */

/* 標籤的基本樣式 */
body {
  letter-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  line-height: 1;
}

.scrollbar-none {
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Chrome / Safari
  }
}
