/* 可以先將所有物件加上邊框，來判斷範圍
    border會佔據距離，outline不會

*,
*:before,
*:after {
  outline: 1px solid red;
}
  */

/* 標籤的基本樣式 */
body {
  font-family: "Noto Sans TC", sans-serif;
  letter-spacing: 0;
  background-color: $neutral-100;
  color: $default;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.scrollbar-none {
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Chrome / Safari
  }
}
