.btn-standard {
  min-height: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media (min-width: 992px) {
  .btn-standard {
    max-width: 200px;
  }
}

.btn-green {
  background-color: $primary;
  color: $white;
  &:hover {
    background-color: $primary-light;
    color: $white;
  }
  &:press {
    background-color: $primary-light;
    color: $white;
  }
}

.btn-outline-green {
  border-color: $primary;
  color: $primary-dark;

  &:hover {
    border-color: $primary-light;
    color: $primary;
  }
  &:press {
    border-color: $primary-light;
    color: $primary;
  }
}

.btn-orange {
  background-color: $secondary;
  color: $white;
  &:hover {
    background-color: $secondary-dark;
    color: $white;
  }
  &:press {
    background-color: $secondary-dark;
    color: $white;
  }
}

.btn-gray100 {
  background-color: $neutral-100;
  color: $primary-dark;
  &:hover {
    background-color: $neutral-200;
    color: $primary-dark;
  }
  &:press {
    background-color: $neutral-200;
    color: $primary-dark;
  }
}

.btn-facebook {
  color: $primary;

  &:hover {
    color: $primary-light;
  }
  &:press {
    color: $primary-light;
  }
}
