.logo {
  width: 116.5px;
}

.menu-btn {
  font-family: "Material Symbols Outlined";
  line-height: 1;
  font-size: 28px;

  &.collapsed::before {
    content: "menu";
  }

  &::before {
    content: "close";
  }
}

.avatar {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .fill {
    font-variation-settings: "FILL" 1;
  }
}
