//標題、背景區域
.search-m-bg {
  width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  .calculate {
    background-image: url("../images/cal-Hero-Image.png");
    height: 520px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.calculate-text {
  max-width: 538px;
}

.calculate-bg {
  background-color: rgba(249, 249, 249, 0.8);
}

//手風琴符號變更
.accordion-button {
  //收合狀態
  &::after {
    background-image: unset;
    font-family: "Material Symbols Outlined";
    line-height: 1;
    content: "add";
    font-size: 40px;
    width: 40px;
    height: auto;
    margin-left: 4px;
  }
  //展開狀態
  &:not(.collapsed)::after {
    background-image: unset;
    content: "remove";
  }
}
