@media (min-width: 992px) {
  .index-bg-deco {
    background-image: url("../images/index-bg-deco.png");
    background-repeat: no-repeat;
    background-size: 2711px 2063px;

    background-position: left -215px top 1537px;
  }

  .select-bg-deco {
    background-image: url("../images/index-bg-deco2.png");
    background-repeat: no-repeat;
    background-size: 585px 450px;
    background-position: right -216px top 120px;
    z-index: -1;
  }
}

//區域：找到您的夢想家園
.banner {
  min-height: 100vh;
  background-image: url("../images/index-m_Hero-\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 992px) {
  .banner {
    background-image: url("../images/index-hero-Image.png");
  }

  .hero-search-form {
    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      left: -4px;
      bottom: 107px;
      border-bottom-left-radius: 40px;
      box-shadow: -8px 15px 0px 2px $gray-100;
    }
    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      right: -38px;
      bottom: 0;
      border-bottom-left-radius: 40px;
      box-shadow: -8px 15px 0px 2px $gray-100;
    }
  }
}

.banner-text-bg {
  background-image: url("../images/bg_m.png");
  background-repeat: no-repeat;
  background-size: 820px 734px;
  background-position: -253px bottom;
  padding-bottom: 45px;
}

.banner-text {
  max-width: 320px;
}

@media (min-width: 992px) {
  .banner-text-bg {
    background-image: url("../images/bg.png");
    background-size: 964px 766px;
    background-position: -104px bottom;
    padding-bottom: 168px;

    .banner-text {
      max-width: 480px;
    }
  }
}

.label-width {
  width: 60px;
}

.hero-form {
  max-height: 188px;
  overflow-y: auto;
}

.hero-form-btn {
  &:hover {
    background-color: $secondary;
    color: $white;
  }
  &:active {
    background-color: $secondary-dark;
  }
}

.min-width-0 {
  min-width: 0;
}

.hero-search-form {
  @media (min-width: 992px) {
    background-color: $gray-100;
    border-top-right-radius: 40px;
    position: absolute;
    left: 40px;
    bottom: 0;
    z-index: 10;
  }
}

//區域：為什麼選擇我們
.feature-bg {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    background: url("../images/display1.png") no-repeat center/contain;
    width: 176px;
    height: 138px;
    top: 20px;
    left: -36px;
  }
}

@media (min-width: 992px) {
  .feature-bg::before {
    width: 280px;
    height: 220px;
    top: 70px;
    left: -122px;
  }
}

.feature {
  .icon-bg {
    width: 64px;
    height: 64px;
  }
  .feature-item {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .col {
    &:nth-child(1) .feature-item:before {
      background-image: url("../images/display2.png");
      top: -51px;
      bottom: -51px;
    }

    &:nth-child(2) .feature-item:before {
      background-image: url("../images/display3.png");
      top: -48px;
      bottom: -49px;
    }

    &:nth-child(3) .feature-item:before {
      background-image: url("../images/display4.png");
      top: -32px;
      bottom: -27px;
    }

    &:nth-child(4) .feature-item:before {
      background-image: url("../images/display5.png");
      top: -24px;
      bottom: -25px;
    }
  }
  .feature-content {
    max-width: 279px;
  }
}

@media (min-width: 992px) {
  .feature .col {
    &:nth-child(1),
    &:nth-child(2) {
      .feature-item:before {
        top: -20px;
        bottom: -20px;
        left: -20px;
        right: -20px;
      }
    }
    &:nth-child(3) {
      .feature-item:before {
        top: -25px;
        bottom: -18px;
        left: -25px;
        right: -25px;
      }
    }
    &:nth-child(4) {
      .feature-item:before {
        top: -20px;
        bottom: -20px;
        left: -20px;
        right: -20px;
      }
    }
  }
  .feature-content {
    max-width: 180px;
  }
}

@media (min-width: 1200px) {
  .feature .col {
    &:nth-child(1),
    &:nth-child(2) {
      .feature-item:before {
        top: -35px;
        bottom: -35px;
        left: -7px;
        right: -7px;
      }
    }
    &:nth-child(3) {
      .feature-item:before {
        top: -18px;
        bottom: -12px;
        left: -7px;
        right: -7px;
      }
    }
    &:nth-child(4) {
      .feature-item:before {
        top: -20px;
        bottom: -20px;
        left: -7px;
        right: -7px;
      }
    }
  }
  .feature-content {
    max-width: 242px;
  }
}

//精選房源
.size {
  width: 100%;
  height: auto;
}

.fs-96 {
  font-size: 96px;
}

.house-bg {
  background:
    linear-gradient(90deg, rgba(35, 46, 26, 0.2) 0%, rgba(35, 46, 26, 0.7) 80%),
    url("../images/index-img_house.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  flex-grow: 1;
}

.house-badge {
  right: 16px;
  bottom: 16px;
}

@media (min-width: 992px) {
  .more-house {
    min-width: 448px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

//精選房源輪播
//改輪播按鈕樣式
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  inset: auto;
  transform: none;

  width: 60px;
  height: 48px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $white;
  background-color: $primary;
  border-radius: 8px;
}
//調整scrollbar跟按鈕位置
.swiper {
  width: 100%;
  min-width: 0;
  overflow: hidden;
}

.swiper-footer {
  display: flex;
  align-items: center;
  position: relative;

  width: 100%;
  padding-left: 24px;
  padding-right: 40px;
  box-sizing: border-box;
}

.swiper-scrollbar {
  position: relative;

  left: auto;
  right: auto;
  bottom: auto;
  top: auto;

  flex: 1;
  min-width: 0;

  width: auto;
  margin-right: 16px;
}

.swiper-nav {
  display: flex;
  gap: 8px;
  flex-shrink: 0;
}

//房貸試算工具
.tool-icon-wrap {
  width: 60px;
  height: 60px;
}

@media (min-width: 992px) {
  .tool-mask {
    aspect-ratio: 1;
    background-image: url("../images/img_tool.png");
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: calc(50% - 330px) center;
    background-repeat: no-repeat;

    mask-image: url("../images/mask.png");
    mask-size: contain;
    mask-position: center top;
    mask-repeat: no-repeat;
  }
}

//準備好找到您的理想住宅了嗎

@media (min-width: 992px) {
  .ideal-bg {
    background-image: url("../images/stone.png");
    background-repeat: no-repeat;
    background-size: 895px 636px;
    background-position: left 53px top 60px;
  }

  .tool-mask2 {
    aspect-ratio: 1;
    background-image: url("../images/img_tool2.png");
    background-attachment: fixed;
    background-size: auto 100%;
    background-position: right -200px top;
    background-repeat: no-repeat;

    mask-image: url("../images/mask2.png");
    mask-size: contain;
    mask-position: center top;
    mask-repeat: no-repeat;
  }

  .py-lg-220 {
    padding-top: 220px;
    padding-bottom: 220px;
  }
}
