<!doctype html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>房貸試算 | ISHIMA</title>

    <!--Bootstrap Icon-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />

    <!--Google icon-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <!--Swiper輪播-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <main>
      <!--標題、背景-->
      <section class="position-relative">
        <!--手機版-->
        <div class="px-5 d-lg-none">
          <img
            src="../assets/images/detail-Image-3.png"
            alt="image"
            class="calculate-m-bg rounded-5 mt-4 mb-5"
          />
        </div>

        <!--背景-->
        <div class="calculate mx-5 rounded-5 m-lg-10 rounded-lg-6"></div>
      </section>

      <section class="py-11 pt-lg-17 pb-lg-19">
        <div class="container">
          <!--流程-->
          <div class="stepper mb-lg-15 mb-10">
            <div class="step is-active">
              <div class="step__circle">1</div>
              <div class="step__label">了解流程</div>
            </div>
            <div class="step is-active">
              <div class="step__circle">2</div>
              <div class="step__label">填寫資料</div>
            </div>
            <div class="step">
              <div class="step__circle">3</div>
              <div class="step__label">選擇時間</div>
            </div>
          </div>

          <!--返回前頁-->
          <div class="d-flex gap-2 mb-lg-10 mb-7">
            <a
              href="./reservation-1.html"
              class="fw-bold link-primary text-primary-dark d-flex align-items-center"
            >
              <span class="material-symbols-outlined p-1"> arrow_back </span
              >返回房源
            </a>
          </div>
          <!--手機版顯示-->
          <div class="bg-white rounded-6 d-lg-none py-7 px-6 mb-7">
            <a href="#">
              <div class="px-2">
                <div class="mb-4">
                  <h5 class="fs-5-m fs-lg-5 text-dark mb-1">現代豪華公寓</h5>
                  <div class="d-flex align-items-center">
                    <span class="material-symbols-outlined fs-6-m fs-lg-6">
                      location_on
                    </span>
                    <p class="fs-sm lh-lg">台北市信義區</p>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-7">
                  <h5 class="fs-lg-5 fs-5-m me-4 lh-lg">NT$</h5>
                  <h3 class="fs-lg-3 fs-3-m me-4 lh-base text-primary-dark">
                    1,500
                  </h3>
                  <h5 class="fs-lg-5 fs-5-m lh-lg">萬</h5>
                </div>
                <div class="d-flex flex-lg-wrap gap-2">
                  <div
                    class="d-flex align-items-center border border-primary rounded-pill py-2 px-6 me-2"
                  >
                    <span
                      class="material-symbols-outlined fs-4 me-2 text-primary"
                    >
                      king_bed
                    </span>
                    <p class="text-primary-dark">3</p>
                  </div>
                  <div
                    class="d-flex align-items-center border border-primary rounded-pill py-2 px-6 me-2"
                  >
                    <span
                      class="material-symbols-outlined fs-4 me-2 text-primary"
                    >
                      shower
                    </span>
                    <p class="text-primary-dark">2</p>
                  </div>
                  <div
                    class="d-flex align-items-center border border-primary rounded-pill py-2 px-6 me-2 flex-shrink-0"
                  >
                    <span
                      class="material-symbols-outlined fs-4 me-2 text-primary"
                    >
                      check_box_outline_blank
                    </span>
                    <p class="text-primary-dark">45坪</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <!--表單-->
          <div class="row g-7">
            <div class="col-lg-8">
              <div class="bg-white rounded-6 p-10 cal">
                <!--標題-->
                <h2
                  class="fs-2-m fs-lg-2 fw-bold lh-base mb-5 text-primary-dark"
                >
                  請告訴我們您的資訊
                </h2>
                <p class="fs-lg-6 fs-6-m fw-bold lh-lg mb-10">
                  我們會盡快與您聯繫安排看房
                </p>
                <!--表格-->
                <form action="" class="mb-10">
                  <div class="row g-7">
                    <div class="col-lg-6">
                      <!--名字-->
                      <div>
                        <div>
                          <label
                            for="exampleFormControlInput1"
                            class="form-label mb-2 fw-bold lh-lg ms-2 text-dark"
                            >名字</label
                          >
                          <span class="ms-1 fw-bold text-accent">*</span>
                        </div>

                        <div class="input-group">
                          <input
                            type="text"
                            class="form-control rounded-2 py-4 px-7 calculate-input border-neutral-400 bg-white"
                            aria-label="Recipient's username"
                            aria-describedby="basic-addon2"
                            placeholder="請輸入名字"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6">
                      <!--E-mail-->
                      <div>
                        <div>
                          <label
                            for="exampleFormControlInput1"
                            class="form-label mb-2 fw-bold lh-lg ms-2 text-dark"
                            >E-mail</label
                          >
                          <span class="ms-1 fw-bold text-accent">*</span>
                        </div>

                        <div class="input-group">
                          <input
                            type="text"
                            class="form-control rounded-2 py-4 px-7 calculate-input border-neutral-400 bg-white"
                            aria-label="Recipient's username"
                            aria-describedby="basic-addon2"
                            placeholder="請輸入E-mail"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6">
                      <div>
                        <div>
                          <label
                            for="exampleFormControlInput1"
                            class="form-label mb-2 fw-bold lh-lg ms-2 text-dark"
                            >電話</label
                          >
                          <span class="ms-1 fw-bold text-accent">*</span>
                        </div>

                        <div class="input-group">
                          <input
                            type="text"
                            class="form-control rounded-2 py-4 px-7 calculate-input border-neutral-400 bg-white"
                            aria-label="Recipient's username"
                            aria-describedby="basic-addon2"
                            placeholder="請輸入電話"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div>
                        <label
                          for="flexRadioDefault1"
                          class="form-label mb-2 fw-bold lh-lg ms-2 text-dark"
                          >您是否曾親自參觀過此房源？
                        </label>
                      </div>
                      <div class="d-flex gap-7 py-4 px-2 align-items-center">
                        <div class="form-check">
                          <input
                            class="form-check-input bg-white"
                            type="radio"
                            name="flexRadioDefault"
                            id="flexRadioDefault1"
                          />
                          <label
                            class="form-check-label"
                            for="flexRadioDefault1"
                          >
                            是
                          </label>
                        </div>
                        <div class="form-check">
                          <input
                            class="form-check-input bg-white"
                            type="radio"
                            name="flexRadioDefault"
                            id="flexRadioDefault2"
                          />
                          <label
                            class="form-check-label"
                            for="flexRadioDefault2"
                          >
                            否
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="mb-3">
                        <label
                          for="exampleFormControlTextarea1"
                          class="form-label mb-2 fw-bold lh-lg ms-2 text-dark"
                          >補充說明</label
                        >
                        <textarea
                          class="form-control border-neutral-400 bg-white"
                          id="exampleFormControlTextarea1"
                          rows="6"
                          placeholder="請隨意告訴我們任何想法..."
                        ></textarea>
                      </div>
                    </div>
                  </div>
                </form>

                <!--預約按鈕-->
                <div class="d-flex align-items-center justify-content-center">
                  <button
                    type="button"
                    class="btn btn-green btn-standard"
                    onclick="location.href = './reservation-3.html'"
                  >
                    下一步<span class="material-symbols-outlined ms-2">
                      arrow_right_alt
                    </span>
                  </button>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="bg-white rounded-6 d-none d-lg-block card-hover">
                <a href="#">
                  <div class="position-relative mb-5 d-none d-lg-block">
                    <img
                      src="../assets/images/search-house1.png"
                      alt="image"
                      class="rounded-top-5"
                    />
                    <p
                      class="bg-neutral-0 lh-lg py-1 px-6 rounded-pill position-absolute house-badge"
                    >
                      公寓
                    </p>
                  </div>

                  <div class="px-2">
                    <div class="mb-4">
                      <h5 class="fs-5-m fs-lg-5 text-dark mb-1">
                        現代豪華公寓
                      </h5>
                      <div class="d-flex align-items-center">
                        <span class="material-symbols-outlined fs-6-m fs-lg-6">
                          location_on
                        </span>
                        <p class="fs-sm lh-lg">台北市信義區</p>
                      </div>
                    </div>
                    <div class="d-flex align-items-center mb-7">
                      <h5 class="fs-lg-5 fs-5-m me-4 lh-lg">NT$</h5>
                      <h3 class="fs-lg-3 fs-3-m me-4 lh-base text-primary-dark">
                        1,500
                      </h3>
                      <h5 class="fs-lg-5 fs-5-m lh-lg">萬</h5>
                    </div>
                    <div class="d-flex flex-lg-wrap gap-2 mb-7">
                      <div
                        class="d-flex align-items-center border border-primary rounded-pill py-2 px-6 me-2"
                      >
                        <span
                          class="material-symbols-outlined fs-4 me-2 text-primary"
                        >
                          king_bed
                        </span>
                        <p class="text-primary-dark">3</p>
                      </div>
                      <div
                        class="d-flex align-items-center border border-primary rounded-pill py-2 px-6 me-2"
                      >
                        <span
                          class="material-symbols-outlined fs-4 me-2 text-primary"
                        >
                          shower
                        </span>
                        <p class="text-primary-dark">2</p>
                      </div>
                      <div
                        class="d-flex align-items-center border border-primary rounded-pill py-2 px-6 me-2 flex-shrink-0"
                      >
                        <span
                          class="material-symbols-outlined fs-4 me-2 text-primary"
                        >
                          check_box_outline_blank
                        </span>
                        <p class="text-primary-dark">45坪</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
